In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress

In [4]:
#Define a function that calculates and plots a linear regression for specified data
#Augmented code written in the WeatherPy assignment

def plot_linearregression(x_values, y_values, x_label, y_label, annotation_loc):
    # Create a linear regression model and fit it to your x and actual y values
    (slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
    # Calculate the predicted y values using the equation of a line
    predicted_y = slope*x_values + intercept
    # Create a string of the line equation
    line_eq = f"y = {round(slope, 2)}x + {round(intercept, 2)}"
    # Generate a scatter plot for your x and actual y values
    plt.scatter(x_values, y_values)
    # Generate a line for your x and predicted y values
    plt.plot(x_values, predicted_y, color = 'r')
    # Create an annotation that shows the line equation string at annotation_loc
    plt.annotate(line_eq, annotation_loc, color = 'r')
    # Add an x label and y label (y_label was a string input for this function)
    plt.title(f'{x_label} Vs. {y_label}')
    plt.xlabel(f'{x_label}')
    plt.ylabel(f'{y_label}')
    # Print R^2
    R_squared = rvalue*rvalue
    print(f"The r-value is: {R_squared}")

    plt.savefig(f"output_data/{x_label}_vs_{y_label}_reg.png")

    plt.show()

In [10]:
#Read in csv file for top five counties and display dataframe

top_five_df = pd.read_csv('resources/top_five_counties.csv')
top_five_df.head()

,Year,County,HarvestedAcres,Yield(Unit/Acre),Production,Price(Dollars/Unit),Unit,Value(Dollars)
0,2020,Marin,195.0,1.33,260.0,3607.69,Tons,938000
1,2020,Napa,45200.0,2.20,99300.0,4646.48,Tons,461395000
2,2020,Placer,315.0,2.79,879.0,2235.49,Tons,1965000
3,2020,SantaCruz,670.0,2.39,1600.0,3008.75,Tons,4814000
4,2020,Sonoma,56800.0,2.61,148000.0,2375.08,Tons,351512000

In [11]:
#Read in csv file for merged weather and display dataframe

merged_weather_df = pd.read_csv('resources/merged_weather.csv')
merged_weather_df.head()

    Name  Avg. Temp  Min. Temp  Max. Temp  Precip.      month  year
0  Marin       51.5       43.2       59.7     2.83   December  2020
1  Marin       53.5       44.2       62.8     1.54   November  2020
2  Marin       66.2       54.4       78.0     0.01    October  2020
3  Marin       66.8       56.7       77.0     0.00  September  2020
4  Marin       66.7       56.4       77.1     0.25     August  2020

In [ ]:
#Plot